SECRET_KEY=7663ced22a4059d217ef9705b6007c42d72b1cbe3db706f11103d5e893dc326834681cc3fef18b0ae80c7ddeba0f233c89cc
DEBUG=True
DATABASE_URL=your-supabase-url-here
FIREBASE_CREDENTIALS_JSON=./firebase-credentials.json
FIREBASE_STORAGE_BUCKET=your-project.appspot.com
GOOGLE_APPLICATION_CREDENTIALS=./firebase-credentials.json
GOOGLE_CLOUD_PROJECT=bill-vault-dc594
USE_ML_CLASSIFIER=False