asgiref==3.11.0
Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
Pillow==10.1.0
PyJWT==2.10.1
python-dotenv==1.0.0
pytz==2025.2
sqlparse==0.5.5
tzdata==2025.3


# Sprint 2 additions
firebase-admin
google-cloud-vision
imagehash
transformers
torch
dj-database-url
